.custom-mouse {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999999;
  background-color: rgba(255, 0, 0, 0.7);
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.custom-mouse.blue {
  background-color: rgba(52, 37, 217, 0.7);
}
