// CustomMouse.module.scss
.customMouse {
  position: fixed;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  opacity: 0.9;
  background-color: #ff5b5b;
  border-radius: 50%;
  border: 2px solid white;
  pointer-events: none;
  z-index: 9999;
  visibility: hidden;

  &.blueMouse {
    background-color: blue;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    border: 2px solid white;
  }
}
