---
import Menu from '../components/Menu/index.tsx'
import CustomMouse from '../components/MouseCustomization/index.tsx'
import '../styles/global.scss'
import Footer from '../components/Footer/index'
const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="description"
      content="Pooya Golchian, a seasoned Senior Web Developer based in Dubai, specializes in creating high-performance web applications with React.js, Vue.js, and DevOps practices. With over a decade of experience, Pooya's portfolio demonstrates a proven track record of innovative solutions that exceed business requirements. Explore to discover projects showcasing expertise in JavaScript, TypeScript, and modern web technologies."
    />
    <meta property="og:site_name" content="Pooya Golchian's Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pooya.blog" />
    <meta
      property="og:title"
      content="Pooya Golchian - Senior Web Developer Specializing in React.js, Vue.js & DevOps | Portfolio"
    />
    <meta
      property="og:description"
      content="Explore the portfolio of Pooya Golchian, showcasing expertise in React.js, Vue.js, and DevOps. Discover projects that highlight innovative solutions and high-performance web applications tailored to business needs."
    />
    <meta
      property="og:image"
      content="https://pooya.blog/apple-touch-icon.png"
    />

    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="relative w-screen h-screen">
      <CustomMouse client:idle />
      <Menu client:idle />
      <div class="flex flex-col min-h-screen">
        <main class="flex-grow"><slot /></main>
        <div>
          <Footer client:load />
        </div>
      </div>
    </div>
  </body>
</html>
